@keyframes appear-list {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.first-part {
  animation: appear-list 1s ease-in-out;
}

.settings-list {
  margin-top: 60px;
}

.settings-setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}
.settings-setting i {
  margin-right: 20px;
  opacity: 0.8;
}
.settings-setting-column:last-child {
  opacity: 0.7;
}

#line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

@keyframes appear-list2 {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.second-part {
  margin-top: 15px;
}

.second-part .settings-setting {
  opacity: 0;
  animation: appear-list2 0.8s ease-in-out forwards;
}

.second-part .settings-setting:first-child {
  animation-delay: 0.6s;
}
.second-part .settings-setting:nth-child(2) {
  animation-delay: 0.8s;
}

.second-part .settings-setting:nth-child(3) {
  animation-delay: 1s;
}

.second-part .settings-setting:nth-child(4) {
  animation-delay: 1.2s;
}
.second-part .settings-setting:nth-child(5) {
  animation-delay: 1.4s;
}
.second-part .settings-setting:nth-child(6) {
  animation-delay: 1.6s;
}
.second-part .settings-setting:last-child {
  animation-delay: 1.8s;
}
