.nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 18px;
  bottom: 15px;
  width: 25px;
  height: 25px;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.nav__new {
  background-color: red;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
}
